<div>
  <figure>
  <blockquote style="font-size: 15px; border: 1px solid lightgray; padding: 10px; border-radius: 5px" class="blockquote">
    <p><%= comment.contents %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title"><%= @user_nick %></cite>
  </figcaption>
</figure>
</div>