<br/><br/>
<table class="table table-hover">
  <tbody>
    <div id="posts">
      <% @posts.each do |post| %>
        <tr data-link="<%= post_path(post.id) %>">
          <td>
            <div style="width: 800px; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              <%= post.title %>
            </div>
          </td>
          <td style="text-align: right">
            <%= link_to 'âž¡ï¸', post_path(post.id), class:"btn btn-outline-secondary", style:"text-align: right" %>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to 'ðŸª„', new_post_path, class:"btn btn-primary", style:"text-align: right" %>
<% end %>