<%= render @post %>

<div class="btn-group" role="group">
  <%= link_to "â¬…ï¸", posts_path, class:"btn btn-outline-secondary" %>
  <%= link_to "âœï¸", edit_post_path(@post), class:"btn btn-primary" %>
  <%= link_to "ðŸ’¥", post_path, data: {turbo_method: :delete}, class:"btn btn-danger" %>
</div>
